
@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Fotoğraf Ekle</h3>

<form method="post">
    <label>Fotoğraf</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <button class="btn btn-outline-dark"><i class="fa fa-save"></i> Kaydet</button>
</form>

