@model List<BooklyProject.Entities.PhotoGallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Fotoğraf Galerisi</h3>
@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
     {
        count++;

        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="width:90px;height:90px" alt="Fotoğraf" /> </td>
            <td><a href="/PhotoGallery/DeletePhoto/@item.PhotoGalleryId" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a>  </td>
        </tr>
     }
</table>
    <br />
    <td><a href="/PhotoGallery/AddPhoto/" class="btn btn-outline-dark">Yeni Fotoğraf Ekle</a></td>
